.list-item {
  display: flex;
  align-items: center;
}

.control {
  cursor: pointer;
  margin: 5px;
}

.control:hover {
  opacity: 0.7;
}

.title {
  word-break: break-all;
  max-width: 80%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
}
